# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build artifacts
build/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore package-lock.json file
package-lock.json

dist/
outputs/